<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="/static/img/icons/favicon.png" />
		<title>Настройки</title>
		<link href="/static/css/app.css" rel="stylesheet">
		<!-- TinyMCE -->
		<script src="https://cdn.tiny.cloud/1/vqxsowjcxwejxijgazyh8zz0xjzt0wg6cm2qbkrujfdigxup/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		<script>
	    tinymce.init({
	      selector: 'textarea',
	      language: 'ru',
		  init_instance_callback : function(editor) {
		    var freeTiny = document.querySelector('.tox .tox-notification--in');
		   freeTiny.style.display = 'none';
		  }});
	  	</script>
	  	<script>
	  		function setAvatar(number) {
	  			document.location.href = '/settings/avatar/' + number;
	  		}
	  	</script>
	  	<style>
	  		.tox-statusbar__branding {
	  			display: none;
	  		}
	  	</style>
	</head>
	<body>
		<div class="wrapper">
			<nav id="sidebar" class="sidebar">
				<div class="sidebar-content js-simplebar">
					<a class="sidebar-brand" href="index.html">
					<span class="align-middle"><img src="/static/img/icons/favicon.png" style="width: 20px; margin-bottom: 5px;"><div style="display: inline-block;">ГазПромБанк</div></span>
					</a>
					<ul class="sidebar-nav">
						<li class="sidebar-item">
							<a class="sidebar-link" href="/threads">
							<i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Обсуждения</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="/threads/new">
							<i class="align-middle" data-feather="plus-circle"></i> <span class="align-middle">Новое обсуждение</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="/profile">
							<i class="align-middle" data-feather="user"></i> <span class="align-middle">Профиль</span>
							</a>
						</li>
						<li class="sidebar-item active">
							<a class="sidebar-link" href="/settings">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Настройки</span>
							</a>
						</li>
						{% if user.moderator %}
							<li class="sidebar-item">
								<a class="sidebar-link" href="/invite">
								<i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Инвайты</span>
								</a>
							</li>
						{% endif %}
						<li class="sidebar-item">
							<a class="sidebar-link" href="/logout">
							<i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Выход</span>
							</a>
						</li>
					</ul>
					<div class="sidebar-cta">
						<div class="sidebar-cta-content">
							<strong class="d-inline-block mb-2">Репутация: {{user.rating}} &#9733;</strong>
							<div class="mb-3 text-sm">
								Значков: {{user.badges.__len__()}}.
							</div>
							<a href="/shop" class="btn btn-outline-primary btn-block"><i data-feather="shopping-cart"></i> Магазин</a>
							<a href="/about/reputation" class="btn btn-outline-primary btn-block"><i data-feather="help-circle"></i> Помощь</a>
						</div>
					</div>
				</div>
			</nav>
			<div class="main">
				<nav class="navbar navbar-expand navbar-light navbar-bg">
					<a class="sidebar-toggle d-flex">
					<i class="hamburger align-self-center"></i>
					</a>
					<div class="navbar-collapse collapse">
						<ul class="navbar-nav navbar-align">
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-toggle="dropdown">
									<div class="position-relative">
										<i class="align-middle" data-feather="bell"></i>
										<span class="indicator">{{user.notifications.__len__()}}</span>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="alertsDropdown">
									<div class="dropdown-menu-header">
										{% if user.notifications %}
										Новых уведомлений: {{user.notifications.__len__()}}
										{% else %}
										Новых уведомлений нет
										{% endif %}
									</div>
									<div class="list-group">
										{% if user.notifications %}
											{% for notification in user.notifications %}
												<a href="{{notification.href}}" class="list-group-item">
													<div class="row no-gutters align-items-center">
														<div class="col-2">
															<i class="text-{{notification.type}}" data-feather="{{notification.icon}}"></i>
														</div>
														<div class="col-10">
															<div class="text-dark">{{notification.title}}</div>
															<div class="text-muted small mt-1">{{notification.content}}</div>
															<div class="text-muted small mt-1">{{notification.date}}</div>
														</div>
													</div>
												</a>
											{% endfor %}
										{% else %}
											<a class="list-group-item">
												<div class="row no-gutters align-items-center">
												Пока уведомлений нет. Заходи позже!
												</div>
											</a>
										{% endif %}
									</div>
									<div class="dropdown-menu-footer">
										<a href="#" class="text-muted" onclick="var xhr = new XMLHttpRequest(); xhr.open('POST', '/notifications/read', false); xhr.send(); location.reload();">Пометить всё как прочитанное</a>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
								<i class="align-middle" data-feather="settings"></i>
								</a>
								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
								<img src="/static/img/avatars/{{user.avatar}}.png" class="avatar img-fluid rounded mr-1"/> <span class="text-dark">{{user.name}}</span>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="/profile"><i class="align-middle mr-1" data-feather="user"></i> Профиль</a>
									<a class="dropdown-item" href="/settings"><i class="align-middle mr-1" data-feather="settings"></i> Настройки</a>
									<a class="dropdown-item" href="/logout"><i class="align-middle mr-1" data-feather="log-out"></i>Выйти</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>
				<main class="content">
					<div class="container-fluid p-0">
						{% if error=='none' %}
							<div class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					                <span aria-hidden="true">&times;</span>
					            </button>
								<div class="alert-message">
									Одно или несколько полей не введены.
								</div>
							</div>
						{% endif %}
						{% if error == 'email' %}
							<div class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					                <span aria-hidden="true">&times;</span>
					            </button>
								<div class="alert-message">
									Введённый адрес электронной почты некорректен.
								</div>
							</div>
						{% endif %}
						{% if error == 'password' %}
							<div class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					                <span aria-hidden="true">&times;</span>
					            </button>
								<div class="alert-message">
									Минимальная длина пароля - 8 символов.
								</div>
							</div>
						{% endif %}
						{% if error == 'success' %}
							<div class="alert alert-success alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					                <span aria-hidden="true">&times;</span>
					            </button>
								<div class="alert-message">
									Настройки успешно сохранены.
								</div>
							</div>
						{% endif %}
						<div class="row">
							<div class="col-12 col-xl-12">
								<div class="card">
									<div class="card-header">
										<h3><center>Настройки профиля</center></h3>
									</div>
									<div class="card-body">
										<form action="/settings" method="POST">
											<div class="form-row">
												<div class="form-group col-md-12">
													<label for="name">Имя</label>
													<input type="text" class="form-control" placeholder="Иванов Иван" required value="{{user.name}}" name="name">
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-md-12">
													<label for="email">Электронная почта</label>
													<input type="email" class="form-control" placeholder="mail@example.com" required value="{{user.email}}" name="email">
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-md-12">
													<label for="password">Пароль (если хочешь сменить)</label>
													<input type="password" class="form-control" placeholder="••••••••" name="password">
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-md-12">
													<label for="status">Статус</label>
													<input type="text" class="form-control" placeholder="Я тут самый крутой, если не знали!" name="status" required value="{{user.status}}">
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-md-12">
													<label for="about">О себе</label>
													<textarea name="about" placeholder="Работаю в Газпромбанке уже целый день." style="height: 500px;">{{user.description}}</textarea>
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-md-12">
													<label for="department">Департамент</label>
													<select name="department" class="form-control mb-3">
											          {% for department in departments %}
											          	<option value="{{department}}" {% if department==user.department %}selected{% endif %}>{{department}}</option>
											          {% endfor %}
											        </select>
								             	</div>
											</div>
											<button type="submit" class="btn btn-primary">Сохранить настройки</button>
										</form>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<h3><center>Выбор аватара</center></h3>
									</div>
									<div class="card-body">
										<div class="form-row">
											{% for y in range(1, 5) %}
												<div class="form-group col-md-3">
													<img src="/static/img/avatars/{{y}}.png" style="height: 100px; cursor:pointer;" onclick="setAvatar({{y}});">
												</div>
											{% endfor %}
										</div>
										<div class="form-row">
											{% for y in range(11, 15) %}
												<div class="form-group col-md-3">
													<img src="/static/img/avatars/{{y}}.png" style="height: 100px; cursor:pointer;" onclick="setAvatar({{y}});">
												</div>
											{% endfor %}
										</div>
										{% if user.rating > 50 %}
											<div class="form-row">
												{% for y in range(5, 9) %}
													<div class="form-group col-md-3">
														<img src="/static/img/avatars/{{y}}.png" style="height: 100px; cursor:pointer;" onclick="setAvatar({{y}});">
													</div>
												{% endfor %}
											</div>
											<div class="form-row">
												{% for y in range(15, 19) %}
													<div class="form-group col-md-3">
														<img src="/static/img/avatars/{{y}}.png" style="height: 100px; cursor:pointer;" onclick="setAvatar({{y}});">
													</div>
												{% endfor %}
											</div>
										{% else %}
											<center><h4><b>Доступно с 50+ репутации</b></h4></center>
											<div class="form-row">
												{% for y in range(5, 9) %}
													<div class="form-group col-md-3">
														<img src="/static/img/avatars/{{y}}.png" style="height: 100px; opacity:.25;">
													</div>
												{% endfor %}
											</div>
											<div class="form-row">
												{% for y in range(15, 19) %}
													<div class="form-group col-md-3">
														<img src="/static/img/avatars/{{y}}.png" style="height: 100px; opacity:.25;">
													</div>
												{% endfor %}
											</div>
										{% endif %}
										{% if user.rating > 100 %}
											<div class="form-row">
												<div class="form-group col-md-3">
													<img src="/static/img/avatars/9.png" style="height: 100px; cursor:pointer;" onclick="setAvatar(9);">
												</div>
												<div class="form-group col-md-3">
													<img src="/static/img/avatars/10.png" style="height: 100px; cursor:pointer;" onclick="setAvatar(10);">
												</div>
												<div class="form-group col-md-3">
													<img src="/static/img/avatars/19.png" style="height: 100px; cursor:pointer;" onclick="setAvatar(19);">
												</div>
												<div class="form-group col-md-3">
													<img src="/static/img/avatars/20.png" style="height: 100px; cursor:pointer;" onclick="setAvatar(20);">
												</div>
											</div>
											<div class="form-row">
												{% for y in range(21, 25) %}
													<div class="form-group col-md-3">
														<img src="/static/img/avatars/{{y}}.png" style="height: 100px; cursor:pointer;" onclick="setAvatar({{y}});">
													</div>
												{% endfor %}
											</div>
										{% else %}
											<center><h4><b>Доступно со 100+ репутации</b></h4></center>
											<div class="form-row">
												<div class="form-group col-md-3">
													<img src="/static/img/avatars/9.png" style="height: 100px; opacity:.25;">
												</div>
												<div class="form-group col-md-3">
													<img src="/static/img/avatars/10.png" style="height: 100px; opacity:.25;">
												</div>
												<div class="form-group col-md-3">
													<img src="/static/img/avatars/19.png" style="height: 100px; opacity:.25;">
												</div>
												<div class="form-group col-md-3">
													<img src="/static/img/avatars/20.png" style="height: 100px; opacity:.25;">
												</div>
											</div>
											<div class="form-row">
												{% for y in range(21, 25) %}
													<div class="form-group col-md-3">
														<img src="/static/img/avatars/{{y}}.png" style="height: 100px; opacity:.25;">
													</div>
												{% endfor %}
											</div>
										{% endif %}
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<h3><center>Поделиться профилем</center></h3>
									</div>
									<div class="card-body">
										<div class="form-row">
											<div class="form-group col-md-12">
												<label for="url">Постоянная ссылка на твой профиль:</label>
												<input type="text" class="form-control" required value="https://{{domain}}/profile/{{user.id}}" name="url" disabled="disabled">
											</div>
											<div class="form-group col-md-12" style="text-align: center!important;">
												<img src="https://api.qrserver.com/v1/create-qr-code/?size=300x300&margin=20&color=white&data=https://{{domain}}/profile/{{user.id}}">
											</div>
											<div class="form-group col-md-12">
												<a href="https://api.qrserver.com/v1/create-qr-code/?size=300x300&margin=20&color=white&data=https://{{domain}}/profile/{{user.id}}" class="btn btn-outline-primary btn-block"><i data-feather="download"></i> Скачать QR</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</main>
				<footer class="footer">
					<div class="container-fluid">
						<div class="row text-muted">
							<div class="col-12 text-right">
								<p class="mb-0">
									<a href="https://topstack.dev" class="text-muted">&copy; <strong>TopStack Studio</strong></a>, 2020.
								</p>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<script src="/static/js/vendor.js"></script>
		<script src="/static/js/app.js"></script>
	</body>
</html>